/* 744px  */
@media(max-width:744px){
    /* header  */
    header{
        padding-inline:28px ;
    }
    /* section1 */
    .section1{
        padding-top: 32px;
        height: 480px;
    }
    /* siction2  */
    .section2{
        padding: 48px 0px 48px 24px;
    }
    /* foooter */
    .ichigo{
        column-gap: 40px;
    }
    /* contact  */
    .boruto{
        flex-direction: column;
        row-gap: 48px;
        padding: 16px;
    }
    .contsection{
        padding-block: 64px;
    }
    .hhh{
        font-family: Inter;
font-weight: 700;
font-size: 32px;
line-height: 39px;
letter-spacing: 0%;
text-align: center;
    }
    .full{
        margin-top: 24px;
    }
    .indra , .ashura{
        width: 100%;
    }
    iframe{
        margin-top: 24px;
    }
    .vect{
  column-gap: 42px;
}
   /* catalog */
   .sec1{
    padding:48px 24px;
   }
   .dante{
    width: 100%;
   }
   .none780{
    display: none;
   }
}